.bestmenu img{
    border-radius: 7px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.main h1 {
    font-size: 25px;
}
.main h2 {
    color: #545454;
}

.menu {
    float:right;
}

.menugroup {
    position: relative;
}

.content {
    position: absolute;
    color: white;
    font-size: 20px;
    top:5%;
    left:5%;
}