.reviewbox{
    float: left;
    padding: 20px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 300px;
    width: 370px;
    background-color: #f1f3f5;
    border-color:#003d19;
    border-radius: 10px;
    border: solid 3px #003d19;
}

#return {
    float: right;
    background-color: #003d19;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.date {
    text-align: right;
}

.reviewbox img{
    width: 150px;
    float:right;
}

#star {
    font-size: 30px;
}

.reviewboxlist{
    text-align: center;
}

#reviewtext {
    width: 370px;
    word-break: break-all;
}

#keyword{
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color:#003d19;
}