@import "reset.css";

* {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin: 50px;
}

form {
  margin-left: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  align-items: center;
  margin: 30px;
}

.navbar {
    margin: 0px;
}

.subject {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

label {
  width: 100px;

  font-size: 15px;
}

input {
  width: 400px;
  height: 40px;
}

.first,
.second,
.third {
  width: 90vw;
  margin: 0;
}

.menu__name {
  width: 960px;
}

button {
  width: 400px;
  height: 40px;
}

.register {
  display: flex;
  justify-content: center;
}

.register-btn {
  background-color: rgb(0, 70, 22);
  color: #fff;

  border: none;
  border-radius: 66px;
}

.img {
  width: 200px;
  height: 200px;

  align-self: flex-start;
}

.upload_img_input {
  display: none;
}

.upload {
  width: 200px;
  height: 200px;

  padding: 0;
  background-image: url("../static/image/uploadImg.png");
}

.img_preview {
  width: 550px;
  height: 200px;
  gap: 20px;

  display: flex;
}

.second {
  display: flex;
  align-items: center;

  width: 6rem;
  position: relative;

  display: flex;
  flex-direction: column;
}

.second_btn {
  width: 12rem;
  height: 2.5rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-bottom: 3px solid transparent;

  cursor: pointer;
}

.second_dropdown {
  display: none;

  position: absolute;
  top: 2.5rem;
  left: 0rem;

  z-index: 2;
}

.show {
  display: block;
}

.second_dropdown_option {
  width: 12rem;
  height: 2.5rem;
  border: none;
  border-bottom: #f1f3f5 solid 1px;
  line-height: 2rem;
  text-align: center;
  background-color: #ffffff;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color: #12b886;
}
