@import "reset.css";

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin: 50px;
}

input {
  border: 1px solid gray;
}

.review {
  padding-left: 50px;

  display: flex;
  flex-direction: column;
}

.review-top {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.comment {
  display: flex;
  justify-content: space-between;

  margin-left: 25px;
  padding: 0;
}

.nickname,
.rating {
  display: flex;

  font-size: 15px;
  font-weight: 500;

  margin-left: 25px;
}

.nickname input,
.rating input {
  width: 32vw;
  height: 50px;

  border-radius: 10px;

  margin: 10px;
}

.comment input {
  width: 70vw;
  height: 200px;
  border-radius: 10px;

  margin: 10px;
}

.label-wrap {
  width: 70px;

  text-align: center;

  line-height: 70px;
}

.add-btn {
  width: 400px;
  height: 40px;

  background-color: rgb(0, 70, 22);
  color: #fff;

  border: none;
  border-radius: 66px;
}

.img {
  width: 180px;
  height: 180px;

  margin-left: 300px;

  align-self: flex-start;
}

.imgInput {
  display: none;
}

.img_section {
  display: flex;
}

.upload {
  width: 200px;
  height: 200px;

  padding: 0;
  cursor: pointer;

  margin: 25px;
}

.img_preview {
  width: 550px;
  height: 200px;
  gap: 20px;

  display: flex;
}

.previewItem {
  width: 180px;
  height: 180px;
}

.submitBtn {
  width: 300px;
  height: 56px;

  background: #00462a;
  border-radius: 66px;

  color: #fff;

  margin-left: 25px;

  cursor: pointer;
}
