@import "reset.css";

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin: 30px;
}

.input {
  width: 400px;
  height: 40px;
  border: 1px solid gray;
}

.review {
  margin-left: 50px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.review-top {
  display: flex;
  justify-content: space-between;

  width: 73.5vw;

  margin: 0;
  padding: 0;
}

.comment,
.img-upload {
  display: flex;

  width: 70vw;

  margin-left: 25px;
  padding: 0;
}

.nickname,
.rating {
  display: flex;

  font-size: 15px;
  font-weight: 500;

  margin-left: 25px;
}

.img-upload {
  display: flex;
}

.upload-input {
  width: 300px;
  margin: 10px;
}

.content-title {
  width: 300px;
  height: 40px;
  font-size: 15px;

  display: flex;
  align-items: center;
}

.submitBtn {
  width: 300px;
  height: 56px;

  background: #00462a;
  border-radius: 66px;

  color: #fff;

  margin-left: 25px;
  margin-top: 20px;

  cursor: pointer;
}

.fileWrap {
  display: flex;
  align-items: center;
}