@import "reset.css";

h1 {
  text-align: center;
}

h3 {
  margin: 50px;
}

form {
  margin-left: 130px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 15px;
}

form div {
  display: flex;
  align-items: center;
  margin: 30px;
}

input {
  width: 400px;
  height: 40px;

  margin: 20px;
}

input[type="radio"] {
  border: 0px;
  width: 50%;
  height: 2em;
}

button {
  width: 400px;
  height: 40px;
  border: none;
}

.step2 {
  display: flex;
  justify-content: center;
}

.step2_btn {
  background-color: rgb(0, 70, 22);
  color: #fff;

  border: none;
  border-radius: 66px;
}

.img {
  width: 200px;
  height: 200px;

  align-self: flex-start;
}

.upload_img_input {
  display: none;
}

.upload {
  width: 200px;
  height: 200px;

  padding: 0;
  background-image: url("../assets/img/uploadImg.png");
}

.img_preview {
  width: 550px;
  height: 200px;
  gap: 20px;

  display: flex;
}

.category,
.parking,
.price,
.hashtag {

  position: relative;
  width: 12rem;

  display: flex;
  flex-direction: column;
}

.category label,
.price label,
.parking label,
.hashtag label {
  align-self: flex-start;
}

.category_btn,
.parking_btn,
.price_btn {
  width: 12rem;
  height: 2.5rem;

  border: none;

  margin: 20px 0px 0px 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-bottom: 3px solid transparent;

  cursor: pointer;
}

.category_dropdown,
.parking_dropdown,
.price_dropdown {
  display: none;

  position: absolute;
  top: 5rem;
  left: 0.3rem;

  z-index: 2;
}

.show {
  display: block;
}

.category_dropdown_option,
.parking_dropdown_option,
.price_dropdown_option {
  width: 12rem;
  height: 2.5rem;
  border: none;
  border-bottom: #f1f3f5 solid 1px;
  text-align: center;
  background-color: #ffffff;

  margin-left: 20px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  color: #12b886;
}
