@import "reset.css";

h1 {
  text-align: center;
}

h3 {
  margin: 50px;
}

form {
  margin-left: 130px;
}

label {
  display: inline-block;
  width: 100px;

  font-size: 15px;
}

div {
  display: flex;
  align-items: center;
  margin: 30px;
}

input {
  width: 400px;
  height: 40px;
}

button {
  width: 400px;
  height: 40px;
  border: none;
}

.step2 {
  display: flex;
  justify-content: center;
}

.step2_btn {
  background-color: rgb(0, 70, 22);
  color: #fff;

  border: none;
  border-radius: 66px;
}

.img {
  width: 200px;
  height: 200px;

  align-self: flex-start;
}

.upload_img_input {
  display: none;
}

.upload {
  width: 200px;
  height: 200px;

  padding: 0;
  background-image: url("../assets/img/uploadImg.png");
}

.img_preview {
  width: 550px;
  height: 200px;
  gap: 20px;

  display: flex;
}
