#return {
    float: right;
    background-color: #003d19;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

#return a:hover{
    letter-spacing: 2px;
    cursor: pointer;
}

.main h1 {
    font-size: 30px;
}

.reviewbox{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 40px;
    padding: 10px;
    background-color: #FAFAFA;
    border: solid 0.5px lightgray;
    border-radius: 7px;
    overflow: hidden;
}
.reviewbox img{
    width: auto;
    border-radius: 7px;
    margin: 3px;
}

.review {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    float: left;
}

#reviewtext {
    word-break: break-all;
}

#star {
    color: #00462a;
    font-weight: bold;
}

.user {
    font-weight: bold;
    font-size: 20px;
}

