.category {
    text-align: center;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

.box1, .box2, .box3, .box4, .box5, .box6{
    align-items: center;
    justify-content: center;
}

button {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 70, 42, 90);
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

#allbtn {
    background-color: #050301;
}

button:hover {
    background-color: #050301;
}

#allbtn:hover {
    background-color: #00462A;
}