@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

body {
  margin: 0;
  background-color: #dedede;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: #f0f4f5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003d19;
  padding: 25px 12px;
}

.navbar-logo {
  align-items: center;
  padding-left: 220px;
  font-size: 34px;
  color: #f0f4f5;
}

.navbar-logo i {
  color: #f9f9f9;
  padding-right: 5px;
}

.navbar-logo a {
  font-family: "Noto Sans KR", sans-serif;
}
.navbar-menu {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-right: 220px;
}

.navbar-menu li {
  padding: 8px 12px;
}

.navbar-menu li a {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-menu li:hover {
  background-color: #050301;
  border-radius: 4px;
}

.navbar-togglebtn {
  display: none;
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 24px;
  color: #f1f3f5;
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-menu li {
    width: 100%;
    text-align: center;
  }
  .navbar-togglebtn {
    display: block;
  }

  .navbar-menu.active {
    display: flex;
  }
}

.subject {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 2px gray;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 2px;
  color: rgb(40, 40, 40);
  padding-top: 100px;
  padding-bottom: 100px;
}

.main {
  padding-left: 320px;
  padding-right: 320px;
  display: block;
}
