<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/42ed29bed1.js"
      crossorigin="anonymous"
    ></script>
      
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='addReview.css') }}">
    <title>리뷰를 등록해주세요</title>
    <script src="{{ url_for('static', filename='nav.js') }}" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <i class="fa-solid fa-utensils"></i>
        <a href="/">EAT-WHA</a>
      </div>
      <ul class="navbar-menu">
        <li><a href="/showRestaurantList">Restaurants</a></li>
        <li><a href="/addRestaurant">Register</a></li>
        <li><a href="/showRecommendation">Recommendation</a></li>
        <li><a href="/showAboutUs">About Us</a></li>
      </ul>

      <a href="#" class="navbar-togglebtn">
        <i class="fa-solid fa-bars"></i>
      </a>
    </nav>

    <div class="subject">
      <br /><br /><br /><br /><br />
      <h1>#Leave your review</h1>
      <br /><br /><br /><br />
    </div>

    <h1></h1>

    <h3>가미분식에 대한 솔직한 리뷰를 등록해주세요</h3>

    <form action="/showReview" method="post" class="review">
      <div class="review-top">
        <div class="nickname">
          <div class="label-wrap">
              
            <label>닉네임
              <input
                type="text"
                name="review__reviewer"
                placeholder="닉네임을 입력해주세요"
              />
            </label>
            </div>
            </div>

        <div class="rating">
          <div class="label-wrap">
            <label>평점
              <input
                type="text"
                name="review__rating"
                placeholder="평점을 입력해주세요"
              />
            </label>
            </div>
          </div>

      <div class="comment">
        <div class="label-wrap">
          <label>리뷰
            <input
              type="text"
              name="review_content"
              placeholder="리뷰를 남겨주세요"
            />
          </label>
     </div></div>

    <!-- 이미지 첨부할 부분, 차후 Js와 연결해서 이미지 클릭하면 사진 업로드 되게 할 예정 -->
      <!--<div class="img">
        <input
          class="upload_img_input"
          type="file"
          accept="image/*"
          required
          multiple
          style="display: none"
        />
        <div class="img_section">
          <div class="upload"></div>
          <div class="img_preview"></div>
        </div>
          </div>--></div>
          
        <div class="submit">
            <input type="submit" value="리뷰 등록하기"><br><br>
    </div>
        
    </form>
  </body>
</html>
