{% extends "navbar.html" %}
{% block head %}
    {{ super() }}
    <title>리뷰를 등록해주세요</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/42ed29bed1.js"
      crossorigin="anonymous"
    ></script>
  <body>
{% endblock %}
      
    {% block section %}
    <div class="subject">
      <br /><br /><br /><br /><br />
      <h1>#Leave your review</h1>
      <br /><br /><br /><br />
    </div>

    <h1></h1>

    <h3>가미분식에 대한 솔직한 리뷰를 등록해주세요</h3>

    <form action="/showReview" enctype="multipart/form-data" method="post" class="review">
      <div class="review-top">
        <div class="nickname">
          <div class="label-wrap">
              
            <label>닉네임
              <input
                type="text"
                name="review__reviewer"
                placeholder="닉네임을 입력해주세요"
              />
            </label>
            </div>
            </div>

        <div class="rating">
          <div class="label-wrap">
            <label>평점
              <input
                type="text"
                name="review__rating"
                placeholder="평점을 입력해주세요"
              />
            </label>
            </div>
          </div>

      <div class="comment">
        <div class="label-wrap">
          <label>리뷰
            <input
              type="text"
              name="review_content"
              placeholder="리뷰를 남겨주세요"
            />
          </label>
     </div></div>

    <!-- 이미지 첨부할 부분, 차후 Js와 연결해서 이미지 클릭하면 사진 업로드 되게 할 예정 -->
      <!--<div class="img">
        <input
          class="upload_img_input"
          type="file"
          accept="image/*"
          required
          multiple
          style="display: none"
        />
        <div class="img_section">
          <div class="upload"></div>
          <div class="img_preview"></div>
        </div>
          </div>--></div>
          
        <div>
            <label for="img">Representative Image upload : </label>
            <input type="file" name="file" /><br><br>
      </div>
        
        <div class="submit">
            <input type="submit" value="리뷰 등록하기"><br><br>
    </div>
        
    </form>
    {% endblock section %}

