{% extends "navbar.html" %} {% block head %} {{ super() }}
<title>리뷰를 등록해주세요</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="stylesheet" href="../static/addReview.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='../static/addReview.css') }}"
/>
<script
  src="https://kit.fontawesome.com/42ed29bed1.js"
  crossorigin="anonymous"
></script>
<body>
  {% endblock %} {% block section %}
  <div class="subject">
    <br /><br /><br /><br /><br />
    <h1>#Leave your review</h1>
    <br /><br /><br /><br />
  </div>

  <h1></h1>

  <h3>가미분식에 대한 솔직한 리뷰를 등록해주세요</h3>

  <form
    action="/showReview"
    enctype="multipart/form-data"
    method="post"
    class="review"
  >
    <div class="review-top">
      <div class="nickname">
        <div class="label-wrap">
          <label
            >닉네임
            <input
              type="text"
              name="review__reviewer"
              placeholder="닉네임을 입력해주세요"
            />
          </label>
        </div>
      </div>

      <div class="rating">
        <div class="label-wrap">
          <label
            >평점
            <input
              type="text"
              name="review__rating"
              placeholder="평점을 입력해주세요"
            />
          </label>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="label-wrap">
        <label
          >리뷰
          <input
            type="text"
            name="review_content"
            placeholder="리뷰를 남겨주세요"
          />
        </label>
      </div>
    </div>

    <div class="addImgWrap">
      <input class="imgInput" type="file" accept="image/*" required multiple />
      <div class="img_section">
        <img class="upload" src="../static/image/uploadImg.png" />
        <div class="imgPreview"></div>
      </div>
    </div>
  </form>
  <script type="text/javascript" src="../static/addReview.js"></script>
  {% endblock section %}
</body>
