{% extends "navbar.html" %}<!--메뉴 등록 완료하면 보이는 "와 메뉴 다 넘어왔어요!! 잘햇다~~~" 화면-->
{% block head %} {{ super() }}
<title>리뷰 등록 완료!</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../static/addReviewResult.css" />
<script
  src="https://kit.fontawesome.com/42ed29bed1.js"
  crossorigin="anonymous"
></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='showBestMenu.css') }}"
/>
<script src="{{ url_for('static', filename='nav.js') }}" defer></script>
{% endblock %} {% block section %}
<div class="content">
  <img src="../static/image/logogreen.png" />

  <h1>리뷰가 성공적으로 추가되었습니다.</h1>

  <img class="viewReviewBtn" src="../static/image/viewReviewBtn.png" />
</div>

{% endblock section %}
