{% extends "navbar.html" %}
{% block head %} {{ super() }}
<title>리뷰 등록 완료!</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../static/addReviewResult.css" />
<script
  src="https://kit.fontawesome.com/42ed29bed1.js"
  crossorigin="anonymous"
></script>}"
/>
<script src="{{ url_for('static', filename='nav.js') }}" defer></script>
{% endblock %} {% block section %}
<div class="content-wrap">
    <div class="content">
      <img src="../static/image/logogreen.png" />

      <h1>리뷰가 성공적으로 추가되었습니다.</h1>
      <a href="/list_reviews/{{data.res_name}}/"><img src="../static/image/viewReviewBtn.png" class="viewReviewBtn" /></a>
    </div>
</div>

{% endblock section %}
