<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    
    {% set url1='https://fonts.googleapis.com' %}
    {% set url2='https://fonts.gstatic.com' %}
    {% set url3='https://kit.fontawesome.com/42ed29bed1.js' %}
    
    
    <link rel="preconnect" href={{url1}}>
    <link rel="preconnect" href={{url2}} crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!--위의 링크는 변수 선언 시 문제생김-->
    <script src={{url3}} crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">

    <title>Eat-wha</title>
    <script src="{{ url_for('static', filename='nav.js') }}" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <i class="fa-solid fa-utensils"></i>
            <a href="/">EAT-WHA</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="/showRestaurantList">Restaurants</a></li>
            <li><a href="/addRestaurant">Register</a></li>
            <li><a href="/showRecommendation">Recommendation</a></li>
            <li><a href="/showAboutUs">About Us</a></li>
        </ul>

        <a href="#" class="navbar-togglebtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
    
    <div class="subject">
        <h1>#EAT-WHA</h1>
    </div>

    <div class="banner-ko">
        <br><br><br><h1>이대 앞 맛집 찾기 NO.1</h1><br><br><br>
    </div>
    
    <div class="images">
        <img src="../static/image/slide1.jpg" id="img1" width="450px">
        <img src="../static/image/slide2.jpeg" id="img2" width="450px">
        <img src="../static/image/slide3.jpg" id="img3" width="450px">
        <img src="../static/image/slide4.jpg" id="img4" width="450px">
        <img src="../static/image/slide4.jpg" id="img4" width="450px">
        <img src="../static/image/slide4.jpg" id="img4" width="450px">
    </div>

</body>
</html>

<!---<div class="subject">
    <br><br><br><br><br><h1>#category</h1><br><br><br><br>
    </div> --->