{% extends "navbar.html" %}
{% block title %}GREATS{% endblock %}
{% block head %}
    {{ super() }}
    <title>Greats</title>
{% endblock %}

{% block section %}
    <div class="subject">
        <h1>#GREATS</h1>
    </div>

    <div class="banner-ko">
        <br><br><br><h1>이대 앞 맛집 찾기 NO.1</h1><br><br><br>
    </div>
    
    <div class="images">
        <img src="../static/image/slide1.jpg" id="img1" width="450px">
        <img src="../static/image/slide2.jpeg" id="img2" width="450px">
        <img src="../static/image/slide3.jpg" id="img3" width="450px">
        <img src="../static/image/slide4.jpg" id="img4" width="450px">
        <img src="../static/image/slide4.jpg" id="img4" width="450px">
        <img src="../static/image/slide4.jpg" id="img4" width="450px">
    </div>
        
{% endblock section %}    
    

<!---<div class="subject">
    <br><br><br><br><br><h1>#category</h1><br><br><br><br>
    </div> --->