<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <!--위의 링크는 변수 선언 시 문제생김-->
    <script src="{{url3}}" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/style.css" />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />

    <script src="{{ url_for('static', filename='nav.js') }}" defer></script>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <i class="fa-solid fa-utensils"></i>
        <a href="/">GREATS</a>
      </div>
      <ul class="navbar-menu">
        <li><a href="/showRestaurantList">Restaurants</a></li>
        <li><a href="/addRestaurant">Register</a></li>
        <li><a href="/showRecommendation">Recommendation</a></li>
        <li><a href="/showAboutUs">About Us</a></li>
      </ul>

      <a href="#" class="navbar-togglebtn">
        <i class="fa-solid fa-bars"></i>
      </a>
    </nav>

    <footer class="homeFooter">
      <img src="../static/image/footerLogo.png" />
      <div class="footer-content">
        <div class="feedback">
          <h2>FeedBack</h2>
          <a href="./">서비스 피드백</a>
        </div>

        <div class="service">
          <h2>Service</h2>
          <a href="showAboutUs">서비스 소개</a>
        </div>

        <div class="contact">
          <h2>Contact Us</h2>
          <a href="mailto:greats@gmail.com">greats@gmail.com</a>
        </div>
      </div>
    </footer>
    <section>{% block section %} {% endblock section %}</section>
  </body>
</html>
