<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    
    <!--위의 링크는 변수 선언 시 문제생김-->
    <script src={{url3}} crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <script scr="https://code.jquery.com/jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='nav.js') }}" defer></script>
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <i class="fa-solid fa-utensils"></i>
            <a href="/">GREATS</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="/showRestaurantList">Restaurants</a></li>
            <li><a href="/addRestaurant">Register</a></li>
            <li><a href="/showRecommendation">Recommendation</a></li>
            <li><a href="/showAboutUs">About Us</a></li>
        </ul>

        <a href="#" class="navbar-togglebtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
   <section>
    {% block section %}
    {% endblock section %}    
    </section>
</body>
</html>
