{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>맛집 전체리스트</title>
 
    <link rel="stylesheet" href="{{ url_for('static', filename='showAllRestaurantList.css') }}">
{% endblock %}
      
{% block section %} 
<script>
    $(document).ready(function () {
        alert("{{category}}");
        $('#category option:contains("{{category}}")').prop("selected", true);
    });
    </script>

<div>
    <select id="category" name="category" onchange="location=this.value">>
        <!--<option value="{{url_for('list_all_restaurants', page=i, category='선택')}}">선택</option>-->
        <option value="{{url_for('list_all_restaurants', page=i, category='선택')}}">선택</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='전체')}}">전체</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='한식')}}">한식</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='양식')}}">양식</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='일식')}}">일식</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='카페/디저트')}}">카페/디저트</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='기타')}}">기타</option>
    </select>
</div>
<div>
    <select id="sorting" name="sorting" onchange="location=this.value">>
        <!--<option value="{{url_for('list_all_restaurants', page=i, category='선택')}}">선택</option>-->
        <option value="{{url_for('list_all_restaurants', page=i, category='선택')}}">선택</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='별점순')}}">별점순</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='최신순')}}">최신순</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='리뷰 많은 순')}}">리뷰 많은 순</option>
        <option value="{{url_for('list_all_restaurants', page=i, category='이름순')}}">이름순</option>
    </select>
</div>

{% if total > 0 %}
<p> 맛집 리스트 -- 현재까지 {{total}}개 등록됨</p>
{% for data in datas %}
<br>
<br>
<div>
    <p>맛집이름: {{data[1].name}}</p>
    <a href="/view_detail/{{data[1].name}}/"><img src="../static/image/{{data[1].img_path}}/" width=300px></a>
</div>
{% endfor %}

<!-- 페이지네이션을 위한 코드 시작 -->
<div class="page-wrap">
    <div class="page-nation">
        <ul>
            <li>
                {% for i in range(page_count)%}
                <a href="{{url_for('list_all_restaurants', page=i)}}" color="black">{{i+1}}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% else %}
<p>등록된 맛집이 없습니다. </p>
{% endif %}

{% endblock section %}
