{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='showReview.css') }}">
{% endblock %}

{% block section %}

    <div class="subject">
      <h1>#Reviews</h1>
    </div>

    {% if total > 0 %}
    <div class="main">
        <h1><span id="rvname">{{data.name}}</span> ⭐<span id="totalstar">{{avg_rate}}</span><span id="return">
            <a href="/view_detail/{{data.name}}/">맛집으로 돌아가기</a></span></h1><hr>
        <h2>리뷰 (<span id="totalreview">{{total}}</span>)</h2>
    </div>
       
        {% for data in datas %}
    <div class="main">
        <div class="reviewbox">
                <div class="reviewimg" style="float:left;"><img src="/static/image/{{data.img_path}}/" height="200px"></div>
                <div class="review">
                    <div class="user">
                        <br>
                       <span class="nick">{{data.nickname}}</span> ㅣ <span id="star">⭐{{data.rating}}</span>
                    </div>
                    <br>
                    <div id="reviewtext">{{data.comment}}</div>
                </div>
        </div>
    </div>

    {% endfor %} {% else %}
    <div class="main">
        <h1><span id="rvname">{{data.name}}</span> ⭐<span id="totalstar">{{avg_rate}}</span><span id="return">
            <a href="/view_detail/{{data.name}}/">맛집으로 돌아가기</a></span></h1><hr>
        <h2>리뷰 (<span id="totalreview">{{total}}</span>)</h2>
    </div>
    <h3 style="text-align: center; font-size: 30px; margin-top: 100px;">등록된 리뷰가 없습니다.</h3>
    {% endif %}

    <br><br><br><br><br><br><br>
{% endblock section %}