{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>맛집 전체리스트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='showAllRestaurantList.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet"/>
{% endblock %}
      
{% block section %} 
    <script>
        $(document).ready(function () {
            alert("{{category}}");
            $('#category option:contains("{{category}}")').prop("selected", true);
        });
        </script>

    <div class="subject">
        <h1>
            #Restaurants
        </h1>
    </div>
    <div class="main">
        <div class="right_element">
            Category
           <select id="category" name="category" onchange="location=this.value">>
            <!--<option value="{{url_for('list_all_restaurants', page=i, category='선택')}}">선택</option>-->
            <option value="{{url_for('list_all_restaurants', page=i, category='선택')}}">선택</option>
            <option value="{{url_for('list_all_restaurants', page=i, category='전체')}}">전체</option>
            <option value="{{url_for('list_all_restaurants', page=i, category='한식')}}">한식</option>
            <option value="{{url_for('list_all_restaurants', page=i, category='양식')}}">양식</option>
            <option value="{{url_for('list_all_restaurants', page=i, category='일식')}}">일식</option>
            <option value="{{url_for('list_all_restaurants', page=i, category='카페/디저트')}}">디저트</option>
            <option value="{{url_for('list_all_restaurants', page=i, category='기타')}}">기타</option>
            </select> 
            <br>
            {% if total > 0 %}
            <div>현재 {{total}}개의 맛집 추천 중 ‥</div>
        </div>
        
        <h2>
            <span class="green">{{category}} 맛집</span>을 둘러보세요
        </h2>
        <br>
        <div class="all_rest">
        {% for data in datas %}
        <div class="restaurants">
            <a href="/view_detail/{{data[1].name}}/"><img class="rest_img" src="../static/image/{{data[1].img_path}}/"></a>
            <div class="info">
                {{data[1].name}} ⭐<span class="star"><b>{{data[1].avg_rate}}</b></span> <!-- 별점 데이터 연결해주세요! -->
            </div>
            </div>
        {% endfor %}
        </div>

        <!-- 페이지네이션을 위한 코드 시작 -->
        <div class="page-wrap">
            <div class="page-nation">
                <ul>
                    <li>
                        {% for i in range(page_count)%}
                        <a href="{{url_for('list_all_restaurants', page=i)}}" color="black">{{i+1}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
        <p>등록된 맛집이 없습니다. </p>
        {% endif %}
    </div>
{% endblock section %}
