{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>맛집 구경하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/42ed29bed1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='showRestaurantList.css') }}">
{% endblock %}

{% block section %}
        <script>
            $(document).ready(function () {
              //alert("{{category}}");
            $('#category option:contains("{{category}}")').prop("selected", true);
        });
        </script>
        <div class="subject">
            <h1>#Restaurants</h1>
        </div>

        <div class="category">
            <p class="btn">
           <button id="한식btn" type="button">한식</button>
            <button id="양식btn" type="button">양식</button>
            <button id="일식btn" type="button">일식</button><br>
            <button id="세계음식btn" type="button">기타</button>
            <button id="allbtn" type="button" onclick="location.href='/showAllRestaurantList'">전체맛집</button>  
            <button id="디저트btn" type="button">카페/디저트</button>
            </p>
        </div>

{% endblock section %}
