{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>{{data.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script
      src="https://kit.fontawesome.com/42ed29bed1.js"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=LIBRARY"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='showRestaurantDetail.css') }}">
{% endblock %}

{% block section %}
    <form method="post" action="/list_foods">
        <input type="hidden" name="restaurant_name" value="{{data.name}}">
    
    <div class="subject">
      <br /><br /><br /><br /><br />
      <h1># Restaurant Info</h1>
      <br /><br /><br /><br />
    </div>

    <h3 class="restaurant-name">
      {{data.name}} <span>⭐️ <b>{{avg_rate}}</b></span>
    </h3>
        
    <div class="food-pic"> 
        <img src="/static/image/{{data.img_path}}">
    {% if total > 3 %}
    
        {% for i in range(3) %}
            <img src="/static/image/{{menu_data[i].img_path}}">
        {% endfor %}
        
    {% else %}
        {% for i in range(total) %}
            <img src="/static/image/{{menu_data[i].img_path}}">
        {% endfor %}
    {% endif %}
    </div>    
<br>
<br>
        
 <h4 class="restaurant-desc">{{data.introduce}}</h4>

    <hr/>

    <div class="restaurant-info">
      <div class="left-info">
        <div class="left-btn">
          <!--리뷰 쓰러가기 버튼-->  
          {% if session['id'] %}
          <a href="/add_reviews/{{data.name}}/" color="black"><img class="side-button" src="/static/image/addReviewBtn.png" alt='리뷰 쓰러가기 버튼' width=150 height=45></a><br><br>
          {% else %}
          <a href="/login" color="black"><img class="side-button" src="/static/image/addReviewBtn.png" alt='리뷰 쓰러가기 버튼' width=150 height=45></a>
          {% endif %}
          <!--리뷰 보러가기 버튼-->    
          <a href="/list_reviews/{{data.name}}/" color="black"><img class="side-button" src="/static/image/showReviewBtn.png" alt='리뷰 보러가기 버튼' width=150 height=45></a><br><br> 
          <!--대표메뉴 보러가기 버튼-->   
          <a href="/list_foods/{{data.name}}/" color="black"><img class="side-button" src="/static/image/showBestmenuBtn.png" alt='대표메뉴 보러가기 버튼' width=150 height=45></a><br><br>
          <!--대표메뉴 등록하기 버튼-->   
          <a href="/add_menus/{{data.name}}/" color="black"><img class="side-button" src="/static/image/addBestmenuBtn.png" alt='대표메뉴 등록하기 버튼' width=150 height=45></a><br><br>
            

        </div>

        <div class="detail-info">
          <div class="category">{{data.category}}</div>
          <div class="address">{{data.addr}}</div>
          <div class="parking">주차여부: {{data.parking}}</div>
          <div class="phoneNum">{{data.tel}}</div>
          <div class="openTime">{{data.open_time}}~{{data.close_time}}</div>
          <div class="price_range">{{data.price_range}}</div>
        </div>
      </div>

      <aside class="right-info">
        <div id="map" style="width:400px;height:400px;"></div>
          <!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4e67695110fbe8d5a975d3645b274e3"></script>-->
          <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4e67695110fbe8d5a975d3645b274e3&libraries=services"></script>
          <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };  
            var map = new kakao.maps.Map(mapContainer, mapOption); 
            var geocoder = new kakao.maps.services.Geocoder();
            geocoder.addressSearch('{{data.addr}}', function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });
                    var infowindow = new kakao.maps.InfoWindow({
                        content: '<div style="width:150px;text-align:center;padding:6px 0;">{{data.name}}</div>'
                    });
                    infowindow.open(map, marker);
                    map.setCenter(coords);
                } 
            }); 
          </script>
          

        <div class="detail-info">
          <div class="detail-addr">
            <p><b>Address</b></p>
            <p><b>{{data.addr}}</b></p>
          </div>

          <div class="detail-phone">
            <p><b>Phone</b></p>
            <p><b>{{data.tel}}</b></p>
          </div>

          <div class="detail-web">
            <p><b>Website</b></p>
            <p href="{{data.site}}"><b>{{data.site}}</b></p>
          </div>
        </div>

        <div class="hashtag_wrap">
          <div class="hashtag">#{{data.hashtag}}</div>
        </div>
      </aside>
    </div>
</form>
        
{% endblock section %}