{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/42ed29bed1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='showReview.css') }}">
{% endblock %}
    
{% block section %}
    <div class="subject">
        <h1>#Reviews</h1>
    </div>

    <div class="main">
        <h1>가미분식 ⭐<span id="totalstar">4.5</span><span id="return"><a href="./showRestaurantList.html">맛집 보러가기</a></span></h1><hr>
        <h2>리뷰(<span id="totalreview">100</span>)</h2>
        <div class="reivewboxlist">
            <div class="reviewbox">
                <div class="date" name="date">2022-02-01</div>
                <img src="{{image_path}}">
                <div class="reviewcontents">
                <div id="star">{{data.review__rating}}</div>
                <h2>{{data.review__reviewer}}</h2>
                <div id="reviewtext">{{data.review_content}}</div><br>
                <span id="keyword">혼밥하기 좋아요</span>
                <span id="keyword">친절해요</span>
                </div>
            </div>
            <div class="reviewbox">
                <div class="date" name="date">2022-02-01</div>
                <img src="../static/image/slide2.jpeg">
                <div class="reviewcontents">
                <div id="star">☆☆☆☆☆</div>
                <h2>닉네임</h2>
                <div id="reviewtext">리뷰내용(친구가 맛집이라고해서~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 맛있어요!!)</div><br>
                <span id="keyword">혼밥하기 좋아요</span>
                <span id="keyword">친절해요</span>
                </div>
            </div>
            <div class="reviewbox">
                <div class="date" name="date">2022-02-01</div>
                <img src="../static/image/slide2.jpeg">
                <div class="reviewcontents">
                <div id="star">☆☆☆☆☆</div>
                <h2>닉네임</h2>
                <div id="reviewtext">리뷰내용(친구가 맛집이라고해서~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 맛있어요!!)</div><br>
                <span id="keyword">혼밥하기 좋아요</span>
                <span id="keyword">친절해요</span>
                </div>
            </div>
            <div class="reviewbox">
                <div class="date" name="date">2022-02-01</div>
                <img src="../static/image/slide2.jpeg">
                <div class="reviewcontents">
                <div id="star">☆☆☆☆☆</div>
                <h2>닉네임</h2>
                <div id="reviewtext">리뷰내용(친구가 맛집이라고해서~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 맛있어요!!)</div><br>
                <span id="keyword">혼밥하기 좋아요</span>
                <span id="keyword">친절해요</span>
                </div>
            </div>
        </div>
    </div>
{% endblock section %}