{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/42ed29bed1.js" crossorigin="anonymous"></script>
    
{% endblock %}
    
{% block section %}
        <div class="subject">
        <h1>#About Us</h1>
        </div>
    
        <div class="main">
            <h1>GREATS</h1>
            <p>GREATS는 이대 앞 맛집을 소개하는 사이트입니다.</p><br><br><br>
            <h1>챌린저스</h1>
            <p>팀원소개</p><br><br><br>
            <h1>계기</h1>
            <p>만들게 된 계기는 ~!</p><br><br><br>
            <h1>Contact</h1>
            <p>계정</p><br><br><br>
        </div>
{% endblock section %}
