{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='showAboutUs.css') }}"/>
    
{% endblock %}
    
{% block section %}
    <div class="subject">
        <h1>#About Us</h1>
    </div>
    
    <div class="main">
        <img class="logo" src="../static/image/logogreen.png">
        <h1 class="greats">GREATS!</h1>
        <div class="info">
            <br>
            <span>: 이화여대 근처 맛집 공유 플랫폼</span>
            <br>&nbsp;<br>
            01. 직접 추천하는 이화여자대학교 주변 맛집
            <br><br>
            02. 테마별 맛집 추천 서비스 제공
            <br><br>
            03. '비건 여부', '주차장 여부'등의 세세한 맞춤 정보 제공
            <br><br><br>
            <span>&nbsp;&nbsp;Greats를 통해 벗맛게를 한눈에! 신규, 영세 맛집까지!</span>
            <br><br>
        </div>
        <br><br>
        <h2>챌린저스 팀원소개</h2>
        <div class="info">
            <br>
            <table>
                <tr>
                    <td colspan=2>프론트엔드</td>
                    <td colspan=3>백엔드</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><div class="profile">
                <img src="https://avatars.githubusercontent.com/u/63237389?v=4"><br>류성경<br>@Seong-Gyeong</div></td>
                    <td><div class="profile">
                <img src="https://avatars.githubusercontent.com/u/113423517?v=4"><br>황주희<br>@HIHJH</div></td>
                    <td><div class="profile">
                <img src="https://avatars.githubusercontent.com/u/104544503?v=4"><br>박혜진<br>@hyp00</div></td>
                    <td><div class="profile">
                <img src="https://avatars.githubusercontent.com/u/113423544?v=4"><br>조민주<br>@mummy-alive</div></td>
                    <td><div class="profile">
                <img src="https://avatars.githubusercontent.com/u/77966605?v=4"><br>최예원<br>@yeni-choi</div></td>
                </tr>
            </table>
            <br>
        </div>
        <br><br>
        <h2>Contact US</h2>
        <div class="info">
            <br>
            <span>e-mail:</span>
            <div class="link">
                <a href="mailto:greats@ewhain.net"> greats@ewhain.net </a>
            </div>
            <br>
            <span>github:</span>
            <div class="link">
                <a href="https://github.com/Seong-Gyeong/OSP_Challengers"> &nbsp;&nbsp;@Challengers </a>
            </div>
            <br>
        </div>
    </div>
{% endblock section %}
