{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>Best Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42ed29bed1.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='showBestMenu.css') }}">
    <script src="{{ url_for('static', filename='nav.js') }}" defer></script>
{% endblock %}

{% block section %}
        <div class="subject">
            <h1>#Best Menu</h1>
        </div>

        <div class="main">
            <h1>대표메뉴</h1>
            <hr>
            <h2><span id="name">가미분식</span>  |  <span id="location">서울 서대문구 이화여대8길 2 무궁화상가아파트</span></h2>
        <div class="bestmenu">
            <div class="menu">
                <div class="menugroup">
                    <div class="menuimg">
                        <img src="../static/image/slide2.jpeg" width="270px"></div>
                    <div class="content">
                        <div id="메뉴명"> </div>
                        <div id="가격"> </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="menugroup">
                    <div class="menuimg">
                        <img src="{{image_path}}" alt="Menu Image" height="270px"></div>
                    <div class="content">
                        <div id="메뉴명">{{data.menu__name}}</div>
                        <div id="가격">{{data.menu__price}}</div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="menugroup">
                    <div class="menuimg">
                        <img src="../static/image/slide3.jpg" width="270px"></div>
                    <div class="content">
                        <div id="메뉴명">메뉴명</div>
                        <div id="가격">가격</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock section %} 
