{% extends "navbar.html" %} {% block head %} {{ super() }}
<title>Best Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='showBestMenu.css') }}" />

{% endblock %} {% block section %}

    <div class="subject">
      <h1>#Best Menu</h1>
    </div>

    {% if total > 0 %}

    <div class="main">
        <div class="right_element">
            <div>현재 {{total}}개의 대표 메뉴 추천 중 ‥</div><br>
        </div>
        <h1>{{res_data.name}}<span id="return"><a href="/view_detail/{{res_data.name}}/">맛집으로 돌아가기</a></span></h1>
        <hr>
    </div>
       
        {% for data in datas %}
    <div class="main">
        <div class="menubox-total">
                <div class="menugroup">
                    <div class="menuimg"><img src="/static/image/{{data.img_path}}" height="200px"></div>
                    <div class="content">
                        <div id="메뉴명">{{data.menu_name}}</div>
                        <div id="가격">{{data.menu_price}}</div>
                        <div id="비건여부">{{data.menu_vegan}}</div>
                    </div>
                </div>
                <div class="menu">
                    <div id="rrname">{{data.menu_name}}</div>
                    <div id="location">{{data.menu_introduce}}</div>
                    <div class="about">
                        <span id="가격">{{data.menu_price}}</span>ㅣ
                        <span id="비건여부">{{data.menu_vegan}}</span>
                    </div>
                </div>
        </div>
    </div>

    {% endfor %} {% else %}
    <h3>등록된 메뉴가 없습니다.</h3>
    {% endif %}

    <br><br><br><br><br><br><br>
{% endblock section %}
