{% extends "navbar.html" %}
{% block head %}
  {{ super() }}
    <title>Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/42ed29bed1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='showReview.css') }}">
{% endblock %}

{% block section %}

    <div class="subject">
      <h1>#Reviews</h1>
    </div>

    {% if total > 0 %}
    <div class="main">
        <h1><span id="rvname">{{data.name}}</span> ⭐<span id="totalstar">{{avg_rate}}</span><span id="return">
            <a href="/view_detail/{{data.name}}/">맛집으로 돌아가기</a></span></h1><hr>
        <h2>리뷰 (<span id="totalreview">{{total}}</span>)</h2>
    </div>
       
        {% for data in datas %}
    <div class="main">
        <div class="reviewbox">
                <div class="reviewimg"><img src="/static/image/{{data.img_path}}/" height="200px"></div>
                <div class="reivew">
                    <div class="user">
                       <span class="nick">{{data.nickname}}</span> ㅣ <span id="star">⭐{{data.rating}}</span>
                    </div>
                    <div id="reviewtext">{{data.comment}}</div>
                </div>
        </div>
    </div>

    {% endfor %} {% else %}
    <h3>등록된 리뷰가 없습니다.</h3>
    {% endif %}

    <br><br><br><br><br><br><br>
{% endblock section %}